@font-face {
  font-family: Philosopher;
  font-display: swap;
  src: url("../fonts/Philosopher-BoldItalic.woff2") format("woff2"), url("../fonts/Philosopher-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Philosopher;
  font-display: swap;
  src: url("../fonts/Philosopher-Italic.woff2") format("woff2"), url("../fonts/Philosopher-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Philosopher;
  font-display: swap;
  src: url("../fonts/Philosopher-Regular.woff2") format("woff2"), url("../fonts/Philosopher-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Philosopher;
  font-display: swap;
  src: url("../fonts/Philosopher-Bold.woff2") format("woff2"), url("../fonts/Philosopher-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
