@media screen and (max-width: 992px) {
  .header {
    padding: 5rem 0 12rem 0;
    &::before {
      width: 1500px;
      height: 900px;
    }
    &::after {
      width: 1800px;
      height: 890px;
    }
    &__title {
      font-size: 5rem;
    }
    &__subtitle {
      font-size: 2.5rem;
    }
    &__text {
      font-size: 1.7rem;
    }
    &__image {
      width: 30rem;
      height: 30rem;
    }
    &__socials {
      margin-top: 7rem;
    }
    &__social-item:not(:last-child) {
      margin-right: 3.5rem;
    }
  }
  .works-slider {
    &__slides {
      padding: 3rem;
    }
    &__slide {
      min-width: 47%;
      max-height: 35rem;
      &:not(:last-child) {
        margin-right: 5rem;
      }
    }
  }
  .works__content {
    margin: 1rem 0;
  }
  .footer {
    padding: 2.5rem 0;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 5rem 0 9rem 0;
    &::before {
      height: 870px;
    }
    &::after {
      height: 860px;
    }
    &__socials {
      margin-top: 5rem;
    }
    &__image {
      width: 25rem;
      height: 25rem;
    }
  }
  .works-slider {
    &__slide {
      min-width: 46%;
    }
  }
  .section-title {
    width: 100%;
  }
  .skills {
    padding: 0 0 5rem 0;
    &__items {
      row-gap: 3rem;
      column-gap: 2rem;
    }
  }
  .social-link {
    width: 4rem;
    height: 4rem;
  }
  .footer__social-item:not(:last-child) {
    margin-right: 4rem;
  }
}
@media screen and (max-width: 680px) {
  .header {
    padding: 5rem 0 7rem 0;
    &::before {
      height: 820px;
    }
    &::after {
      height: 810px;
    }
    &__title {
      font-size: 4.5rem;
    }
    &__subtitle {
      font-size: 2.2rem;
    }
    &__text {
      font-size: 1.5rem;
    }
    &__socials {
      margin-top: 4rem;
    }
    &__image {
      width: 20rem;
      height: 20rem;
    }
  }
  .works-slider {
    &__slide {
      max-height: 25rem;
    }
  }
  .skills {
    &__items {
      row-gap: 2rem;
      column-gap: 1rem;
      margin-top: 3rem;
    }
    &__item-title {
      font-size: 2rem;
    }
  }
  .section-title h2 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 576px) {
  .header {
    padding: 3rem 0 8rem 0;
    &__wrapper {
      flex-direction: column;
    }
    &__content {
      width: 100%;
    }
    &::before {
      width: 1300px;
      height: 800px;
    }
    &::after {
      width: 1400px;
      height: 800px;
    }
    &__text {
      margin-top: 3rem;
    }
    &__image {
      position: absolute;
      top: 3rem;
      right: 3rem;
      width: 15rem;
      height: 15rem;
    }
    &__social-item:not(:last-child) {
      margin-right: 3rem;
    }
  }
  .skills {
    padding: 0 0 4rem 0;
    &__item-img {
      width: 4rem;
      height: 4rem;
    }
    &__item {
      min-width: 20%;
    }
    &__item-title {
      font-size: 1.8rem;
    }
  }
  .works-slider {
    &__container {
      width: 80%;
    }
    &__slide {
      min-width: 100%;
      max-height: 30rem;
      &:not(:last-child) {
        margin-right: 5rem;
      }
    }
    &__slide-btn {
      font-size: 1.7rem;
      padding: 0.7rem 1.8rem;
    }
    &__btn-right,
    &__btn-left {
      width: 3rem;
      height: 5rem;
    }
  }
  .footer__title {
    font-size: 2.5rem;
  }
  .social-link {
    width: 3.5rem;
    height: 3.5rem;
  }
  .section-title h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 450px) {
  .header {
    padding: 3rem 0 7rem 0;
    &__wrapper {
      flex-direction: column;
    }
    &__content {
      width: 100%;
    }
    &::before {
      width: 1500px;
      height: 760px;
    }
    &::after {
      width: 1600px;
      height: 760px;
    }
    &__title {
      font-size: 4rem;
    }
    &__subtitle {
      font-size: 2rem;
    }
    &__text {
      font-size: 1.4rem;
    }
    &__text {
      margin-top: 3rem;
    }
    &__image {
      width: 11rem;
      height: 11rem;
      top: 2rem;
      right: 2rem;
    }
    &__socials {
      justify-content: center;
      margin-top: 3rem;
    }
  }
  .skills {
    &__item {
      min-width: 30%;
    }
  }
  .works-slider {
    &__container {
      width: 90%;
    }
    &__slide {
      max-height: 25rem;
    }
  }
  .footer__social-item:not(:last-child) {
    margin-right: 3rem;
  }
}
